::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #7a7db5; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #ffffff; /* Thumb color */
}
body {
  height: 100%;
  margin: 0;
  background-image: url("../Final/images/Untitled-2(1).png");
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

.container1 {
  position: relative;
  height: 100vh; /* Minimum height for each container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* background-repeat: url("../Final/images/0001-0096.mkv"); */
  background-image: url("../Final/images/Untitled-2(1).png");
  background-size: cover;
  align-items: center;
  /* overflow: auto;  */
  z-index: 1;
}

.canvas-container {
  width: 100%;
  height: 100vh; /* Each canvas takes up full viewport height */
  z-index: 0;
}

#video-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  /* Additional styling for canvas if needed */
}

/* ARROW */
.arrow-image {
  position: absolute;
  bottom: 15px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  z-index: 1;
  animation: bounceUpDown 2s ease-in-out infinite;
}

@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Form */
form {
  margin-top: -5px;
  height: 45vh;
  width: 60vw;
  align-content: center;
  align-self: center;
  background-color: #2b32b2;
  position: absolute;
  border: 5px solid #ffff;
  border-radius: 10px;
  backdrop-filter: blur(65px);
  box-shadow: 0 0 40px rgba(30, 30, 30, 0.6);
  padding: 50px 35px;
}


form input {
  font-family: "Tonnelier-Medium";
}
.card-inner {
  overflow-y: auto;
  max-height: calc(140% - 20vh);
}

/* .bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* background-image: radial-gradient(
      circle at 30% 86%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 55% 100%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 40% 75%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 7% 99%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 69% 76%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 2% 35%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 14% 48%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 28% 87%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 65% 14%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 51% 36%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 6% 93%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(135deg, rgb(23, 233, 173), rgb(29, 24, 208));
}

/* FORM inside */
.registration{
  color: rgb(0, 4, 36);
  font-weight: bold;
  font-size: 35px;
  display: flex;
  justify-content: center;
  justify-self: center;
  text-decoration: underline;
  text-align: center;
}

.form-labels {
  font-family: Domine;
  font-weight: lighter;
  margin-top: 50px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight:bold;
}

.content-personeldetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 60px;
}

.formentry {
  /* font-style:Maitree_SemiBold; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.formentry label {
  flex-basis: 25%; /* Adjust width as needed */
  margin-right: 10px; /* Adjust margin as needed */
  text-align:right; /* Align text to the right */
}

.formentry input {
  flex-grow: 1;
}

#fname,
#froll,
#fbranch,
#fnumber,
#femail,
#fhostel,
#fcg {
  font-size: 15px;
  color: #ffffff;
  background-color: #2b32b2;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
}

#fname:focus,
#froll:focus,
#fbranch:focus,
#fnumber:focus,
#femail:focus,
#fhostel:focus,
#fcg:focus {
  outline: none;
}

#fname::placeholder,
#froll::placeholder,
#fbranch::placeholder,
#fnumber::placeholder,
#femail::placeholder,
#fhostel::placeholder,
#fcg::placeholder {
  color: #7a7db5;
}

#textefft {
  font-family: Maitree_Medium;
  color: rgb(255, 255, 255);
  font-size: 16px;
  /* font-weight: bold; */
}

.content-radio {
  font-style: Maitree_SemiBold;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.form-radiobtns {
  margin-bottom: -50px;
}

.formentryRadio {
  font-style: Maitree_Medium;
  font-size: 16px;
  /* font-weight: bold; */
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px;
}

.radio {
  justify-self: center;
}

.content-questions {
  margin-left: 30px;
}

.formentryquestions {
  margin-bottom: 30px;
}

#textques {
  color: #ffffff;
  font-family: Maitree-Medium;
  font-size: 18px;
}

#q1,
#q2,
#q3,
#q4,
#q5,
#q6,
#q7,
#q8 {
  margin-top: 5px;
  width: 95%;
  color: #ffffff;
  background-color: #2b32b2;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  overflow-wrap: break-word;
}

#q1:focus,
#q2:focus,
#q3:focus,
#q4:focus,
#q5:focus,
#q6:focus,
#q7:focus,
#q8:focus {
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  border: 2px;
  border-radius: 6px;
  font-family: Lora;
  font-size: 16px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #ffffff;
  background-color: #2b32b2;
}

button:hover {
  font-family: Lora;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: #2b32b2;
}

/* LOGO */
.logo {
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 70vh;
  padding-top:40px;
  position: absolute;
  object-fit: contain;
  height: auto;
  width: 400px;
  z-index: 5;
}
