@font-face { font-family: "Milligram-Bold-trial"; src: url("../Final/fonts/Milligram-Bold-trial.ttf"); }
@font-face { font-family: "Xillian Regular"; src: url("../Final/fonts/Xillian\ Regular.otf"); }
@font-face { font-family: "LTSuperior-Semibold"; src: url("../Final/fonts/LTSuperior-Semibold.otf"); }
@font-face { font-family: "LTSuperior-Medium"; src: url("../Final/fonts/LTSuperior-Medium.otf"); }
@font-face { font-family: "Tonnelier-Medium"; src: url("../Final/fonts/Tonnelier-Medium.ttf"); }
@font-face { font-family: "Mango Grotesque-VF"; src: url("../Final/fonts/Mango\ Grotesque-VF.ttf"); }





.card-inner::-webkit-scrollbar {
  width: 10px;          
}

.card-inner::-webkit-scrollbar-thumb {   
 border-radius: 30px;
 background: -webkit-gradient(linear, left top, left bottom, from(#F4DC79), color-stop(10%, #F4DC79),color-stop(40%, #FEF4AC), to(#C3AB6A));
 box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}

 .card-inner::-webkit-scrollbar-track {     
 background-color: FEF4AC;
 /* background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17); */
}
body {
  height: 100%;
  margin: 0;
  background-image: url("../Final/images/Untitled-2(1).png");
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

.container1 {
  position: relative;
  height: 100vh; /* Minimum height for each container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* background-repeat: url("../Final/images/0001-0096.mkv"); */
  background-image: url("../Final/images/Untitled-2(1).png");
  background-size: cover;
  align-items: center;
  /* overflow: auto;  */
  z-index: 1;
}

.canvas-container {
  width: 100%;
  height: 100vh; /* Each canvas takes up full viewport height */
  z-index: 0;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  /* Additional styling for canvas if needed */
}

/* ARROW */
.arrow-image {
  position: absolute;
  bottom: 15px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  z-index: 1;
  animation: bounceUpDown 2s ease-in-out infinite;
}

@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Form */
form {
  margin-top: 100px;;
  height: 50vh;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.13);
  position: absolute;
  /* border: 5px solid #ffff; */
  border-radius: 50px;
  backdrop-filter: blur(65px);
  /* box-shadow: 0 0 40px rgba(30, 30, 30, 0.6); */
  padding: 50px 35px;
}


form input {
  font-family: "Tonnelier-Medium";
}
.card-inner {
  overflow-y: auto;
  max-height: calc(140% - 20vh);
}

/* .bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
      circle at 30% 86%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 55% 100%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 40% 75%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 7% 99%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 69% 76%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 2% 35%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 14% 48%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 28% 87%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 65% 14%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 51% 36%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 6% 93%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(135deg, rgb(23, 233, 173), rgb(29, 24, 208));
} */
.bg {
  /* z-index: -1; */
  /* height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  background-clip: url("../Final/images/0001-0096.mkv");
  /* background-position: fixed; */
  background-size: cover;
}

/* FORM inside */
.registration{
  color: #F7F6F2;
  /* font-weight: bold; */
  font-family: "Xillian Regular";
  font-weight: 60;
  font-size: 35px;
  
  display: flex;
  justify-content: center;
}

.form-labels {
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  display: flex;
  justify-content: center;
  font-family: "Milligram-Bold-trial";
}

.content-personeldetails{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 60px;
  /* gap: 10px; */
}

.formentry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.formentry label {
  flex-basis: 25%; /* Adjust width as needed */
  margin-right: 10px; /* Adjust margin as needed */
  text-align:right; /* Align text to the right */
  font-family: "Milligram-Bold-trial";
}

.formentry input {
  flex-grow: 1; 
}

#fname,
#froll,
#fbranch,
#fnumber,
#femail {
  color: #000000;
}

#textefft{
  color:rgb(0, 4, 36) ;
  font-size: 20px;
  font-weight: bold;
}

.content-radio{
  display: flex;
  justify-content: center;
  font-weight: 30px;
  font-weight: bold;
}

.formentryRadio{
  font-size: 20px;
  font-weight: bold;
  color:rgb(0, 4, 36) ;
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
  gap: 20px;
}

.content-questions{
  margin-left: 20px;
}

.formentryquestions{
  margin-bottom: 15px;
}

.form-buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}


/* LOGO */
.logo {
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 70vh;
  padding-top:40px;
  position: absolute;
  object-fit: contain;
  height: 100px;
  width: 200px;
  z-index: 8;
}