@font-face { font-family: "Milligram-Bold-trial"; src: url("../Final/fonts/Milligram-Bold-trial.ttf"); }
@font-face { font-family: "Xillian Regular"; src: url("../Final/fonts/Xillian\ Regular.otf"); }
@font-face { font-family: "LTSuperior-Semibold"; src: url("../Final/fonts/LTSuperior-Semibold.otf"); }
@font-face { font-family: "LTSuperior-Medium"; src: url("../Final/fonts/LTSuperior-Medium.otf"); }
@font-face { font-family: "Tonnelier-Medium"; src: url("../Final/fonts/Tonnelier-Medium.ttf"); }
@font-face { font-family: "Mango Grotesque-VF"; src: url("../Final/fonts/Mango\ Grotesque-VF.ttf"); }


.card-inner::-webkit-scrollbar {
  width: 10px;          
}

.card-inner::-webkit-scrollbar-thumb {   
 border-radius: 30px;
 background: -webkit-gradient(linear, left top, left bottom, from(#F4DC79), color-stop(10%, #F4DC79),color-stop(40%, #FEF4AC), to(#C3AB6A));
 box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}

 .card-inner::-webkit-scrollbar-track {     
 background-color: #292D99;
 /* background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17); */
}

body {
  height: 100%;
  width: 100vw;
  margin: 0;
  background-color: #2b32b2;
  padding: 0px;
  margin: 0px;
  overflow: auto;
}

.container1 {
  position: relative;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* background-repeat: url("../Final/images/0001-0096.mkv"); */
  /* background-image: ur  */
  background-size: cover;
  align-items: center;
  /* overflow: auto;  */
  z-index: 1;
}

.canvas-container {
  width: 100%;
  height: 100vh; 
  z-index: 0;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  /* Additional styling for canvas if needed */
}

/* ARROW */
.arrow-image {
  position: absolute;
  bottom: 15px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  z-index: 1;
  animation: bounceUpDown 2s ease-in-out infinite;
}

@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Form */
form {
  margin-top: 100px;;
  height: 50vh;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.13);
  position: absolute;
  /* border: 5px solid #ffff; */
  border-radius: 50px;
  backdrop-filter: blur(65px);
  /* box-shadow: 0 0 40px rgba(30, 30, 30, 0.6); */
  padding: 50px 35px;
}


form input {
  font-family: "Tonnelier-Medium";
}
.card-inner {
  overflow-y: auto;
  max-height: calc(140% - 20vh);
}

/* .bg {
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
      circle at 30% 86%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 55% 100%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 40% 75%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 7% 99%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 69% 76%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 2% 35%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 14% 48%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 28% 87%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 65% 14%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 51% 36%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 6% 93%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(135deg, rgb(23, 233, 173), rgb(29, 24, 208));
} */

.bg {
  /* z-index: -1; */
  /* height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  /* background-position: fixed; */
  background-size: cover;
}

/* FORM inside */
.registration{
  color: #F7F6F2;
  /* font-weight: bold; */
  font-family: "Xillian Regular";
  font-weight: 60;
  font-size: 35px;
  justify-self: center;
  /* text-decoration: underline; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.form-labels {
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 28px;
  display: flex;
  justify-content: center;
  font-family: "Milligram-Bold-trial";
}

.content-personeldetails{
  margin-right: 250px;
  margin-left:180px;
  gap: 20px;
}

.formentry {
  /* font-style:Maitree_SemiBold; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.formentry label {
  flex-basis: 25%; /* Adjust width as needed */
  margin-right: 10px; /* Adjust margin as needed */
  text-align:right; /* Align text to the right */
  font-family: "Milligram-Bold-trial";
}

.formentry input {
  flex-grow: 1; 
}

#fname,
#froll,
#fbranch,
#fnumber,
#femail,
#fhostel,
#fcg {
  font-size: 15px;
  color: #ffffff;
  background-color: #292D99;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
}
#fname:focus,
#froll:focus,
#fbranch:focus,
#fnumber:focus,
#femail:focus,
#fhostel:focus,
#fcg:focus {
  outline: none;
}
#fname::placeholder,
#froll::placeholder,
#fbranch::placeholder,
#fnumber::placeholder,
#femail::placeholder,
#fhostel::placeholder,
#fcg::placeholder {
  color: #7a7db5;
}

#textefft{
  font-family: "Milligram-Bold-trial";
  color:#F7F6F2;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.content-radio {
  font-family: "Milligram-Bold-trial";
  color: #F7F6F2;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.form-radiobtns {
  margin-bottom: -50px;
}

.formentryRadio {
  font-family: "Milligram-Bold-trial";
  font-size: 16px;
  /* font-weight: bold; */
  color: #F7F6F2;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px;
}
.radio {
  justify-self: center;
}

.content-questions{
  margin-left: 30px;
}

.formentryquestions {
  margin-bottom: 30px;
}

#q1,
#q2,
#q3,
#q4,
#q5,
#q6,
#q7,
#q8 {
  margin-top: 5px;
  font-family: "Milligram-Bold-trial";
  width: 95%;
  color:#F7F6F2;
  background-color: #2b32b2;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  overflow-wrap: break-word;
}

#q1:focus,
#q2:focus,
#q3:focus,
#q4:focus,
#q5:focus,
#q6:focus,
#q7:focus,
#q8:focus {
  outline: none;
}

.form-buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  border: 2px;
  border-radius: 6px;
  font-family: Lora;
  font-size: 16px;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  color: #ffffff;
  background-color: #2b32b2;
}

button:hover {
  font-family: Lora;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: #2b32b2;
}

/* LOGO */
.logo {
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 70vh;
  padding-top:40px;
  position: absolute;
  object-fit: contain;
  height: 100px;
  width: 200px;
  z-index: 8;
}